.flipped {
    transform: scaleX(-1);
}


.btn-custom {
    background-color: #412760;
    border-color: #412760;

}

.btn-custom:hover {
    background-color: #a260f2;
    border-color: #a260f2;
}

.parrafo {
    color: #a260f2;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 30px;
    margin-left: 500px;
}

.btns{
    justify-content: center;
    text-align: center;
    color: white;
}